<div class="app-section centralized app-log" *ngIf="resume[LocalOrderStatus.rejected] > 0" [@slideXToggleAnimation] >
  <button class="mat-button mat-flat-button" (click)="onClickOrder()" >
    <span class="test rounded color-warn" >
      <span class="mat-icon icon-outlined blink" >error</span>
    </span>
    
    <small class="color-warn" >Algo deu errado. Toque para ver.</small>
  </button>
</div>

<div class="app-section centralized app-log" *ngIf="resume[LocalOrderStatus.pendent] > 0" [@slideXToggleAnimation] >
  <button class="mat-button mat-flat-button" (click)="onClickOrder()" >
    <span class="test rounded color-primary" >
      <span class="mat-icon icon-outlined blink" >upgrade</span>
    </span>
    
    <small>Enviando pedido</small>
  </button>
</div>

<div class="app-section centralized app-log" *ngIf="resume[LocalOrderStatus.pendent] === 0 && summaryOrder && summaryOrder.pocstatus === SummaryOrderPocStatus.close_request" [@slideXToggleAnimation] >
  <button class="mat-button mat-flat-button" (click)="onClickSummary()" >        
    <span class="test rounded color-primary" >
      <span class="mat-icon icon-outlined blink" >done</span>
    </span>
    <small >Fechando a conta</small>
  </button>
</div>

<div class="app-section centralized app-log" *ngIf="resume[LocalOrderStatus.pendent] === 0 && summaryOrder && summaryOrder.pocstatus === SummaryOrderPocStatus.pre_closed" [@slideXToggleAnimation] >
  <button class="mat-button mat-flat-button" (click)="onClickSummary()" >
    <small >Conta em pre-fechamento</small>
  </button>
</div>