.catalog-items
  display: grid
  grid-template-areas: 'titleArea photoArea' 'descriptionArea photoArea' 'actionArea photoArea'
  grid-template-columns: auto auto
  padding: 8px 8px 8px 16px

.catalog-item-title
  grid-area: titleArea
  padding: 4px 0

.catalog-title-first
  display: flex
  justify-content: space-between

.catalog-item-description
  grid-area: descriptionArea

.catalog-item-description small
  max-height: 6.5rem
  min-height: 2.5rem
  line-height: 1.3
  word-break: normal
  display: block
  display: -webkit-box
  -webkit-line-clamp: 5
  -webkit-box-orient: vertical
  text-overflow: ellipsis
  overflow: hidden

.catalog-item-action
  grid-area: actionArea
  display: flex
  flex-direction: row
  align-items: center
  padding: 4px 0

.mat-button-buy
  min-width: 130px
  margin-right: 8px

.catalog-item-photo
  grid-area: photoArea

.catalog-item-photo-container
  width: 108px
  height: 108px

.catalog-item-photo img
  border-radius: 60px
  outline: none
  cursor: pointer

.catalog-items.products .catalog-item-photo
  display: flex
  justify-content: center
  flex-direction: column
  align-items: flex-end

.catalog-items.products .catalog-item-photo img
  width: auto
  height: auto
  max-width: 100px
  max-height: 100px
  border: none
  border-radius: 0
  margin-left: 5px

.app-main-form form
  display: grid
  border-radius: 20px
  background-color: var(--basic)
  grid-template-columns: 40px auto
  grid-template-rows: 40px

.app-main-form button
  color: var(--color-wipedout)
  font-size: 15px

.mat-chips button
  margin: 2px 2px 0 2px
  height: 30px
  line-height: 30px

@media only screen and (max-width: 600px)
  .catalog-items
    margin-bottom: 2px

@media only screen and (min-width: 600px) and (max-width: 1365px)
  .catalog-page
    display: grid
    gap: 2px
    grid-template-columns: 50% 50%

@media only screen and (min-width: 1366px)
  .catalog-page
    display: grid
    grid-template-columns: 33.3% 33.3% 33.4% 
    gap: 2px