<div class="app-book-sheet" >
  <div *ngIf="isLoading || submited" class="align-center" >
    <div class="spinner"></div>
  </div>

  <ng-template [ngIf]="action === 'getPhone'" >
    <form *ngIf="!userToConfirm; else userToConfirmTemplate"
      class="sign-form box-shadow" [formGroup]="phoneForm" 
      (submit)="onSubmitSign($event)"  >

      <p>Para prosseguir</p>
      <h2>Informe o número do seu celular</h2>
  
      <mat-form-field appearance="outline" >
        <div class="mat-flex-field sign-field" >
          <span matPrefix class="spn-prefix" >&nbsp;+55</span>
          <mat-label class="sign-phone-label">Número do celular com DDD</mat-label>
          <input matInput mask="(99)99999-9999" type="text" 
            autocomplete="off" formControlName="phone" 
            required role="name" autofocus />
        </div>
  
        <p class="mat-error color-warn" *ngIf="phone && phone.touched && phone.errors && phone.errors['required']" >Por favor, informe o número do seu celular</p>
        <p class="mat-error color-warn" *ngIf="phone && phone.touched && phone.errors && !phone.errors['required'] && phone.errors['invalidPhone']" >Por favor, informe um número válido</p>
      </mat-form-field>

      <br/>
  
      <button type="submit" mat-button class="mat-flat-button primary" >
        Continuar
      </button> <br/>
    </form>

    <ng-template #userToConfirmTemplate >
      <div class="sign-form box-shadow" >
        <h2 class="align-center">Confirme seu número</h2> <br/>
        <p class="align-justify">Enviaremos um SMS contendo um código de confirmação para o número <strong class="term">{{phone.value}}</strong>. </p> <br/>
        
        <button type="button" mat-button class="mat-flat-button primary" (click)="onClickSendConfirmation()" >
          Enviar código de confirmação
        </button><br/>

        <button type="button" mat-button class="mat-stroked-button primary" (click)="onClickRefresh()" >
          Este não é meu número
        </button>
      </div>      
    </ng-template>
  </ng-template>

  <ng-template [ngIf]="action === 'checkCode'" >
    <form class="sign-form box-shadow" [formGroup]="codeForm" (submit)="onSubmitCodeForm($event)"  >
      <h2 class="align-center">Código de confirmação</h2>
      <p class="align-justify">
        Enviamos um SMS com um código de confirmação para o número <strong class="term">{{confirmation.phone}}</strong>.<br/><br/>
      </p>
      <p> Informe o código enviado para seu número </p>

      <mat-form-field appearance="outline" >
        <div class="mat-flex-field sign-field-code" >
          <mat-label>Código</mat-label>
          <input matInput type="phone" ngMask mask="9999"
            autocomplete="off" formControlName="code" 
            required role="name" #codeInput />
        </div>

        <p class="mat-error color-warn" *ngIf="code && code.touched && code.errors && code.errors['required']" >Por favor, informe o que você recebeu no seu celular</p>
        <p class="mat-error color-warn" *ngIf="code && code.touched && code.errors && !code.errors['required'] && code.errors['invalidCode']" >Por favor, informe um código válido</p>
        <p class="mat-error color-warn" *ngIf="code && code.touched && code.errors && !code.errors['required'] && code.errors['validationError']" >Código incorreto</p>
      </mat-form-field>

      <br/>

      <button type="submit" mat-button 
        [ngClass]="{'mat-flat-button': true, 'primary': true, 'ng-hide': !codeForm.valid}" >
        Continuar
      </button>
      <br/>
      <p class="align-center" >Não recebeu o código?</p>
      <p>&nbsp;</p>
      <button type="button" mat-button (click)="onClickTryAgain()"
        [ngClass]="{'mat-stroked-button': true, 'primary': true, 'disabled': counter > 0}" >
        Tente novamente {{counter > 0 ? counter : ''}}
      </button> <br/>
    </form>
  </ng-template>

  <ng-template [ngIf]="action === 'signup'" >
    <form class="sign-form box-shadow" [formGroup]="signupForm" (submit)="onSubmitSignupForm($event)"  >
      <p>Para continuar</p>
      <h2>{{recovery ? 'Recupere sua conta' : 'Complete seu cadastro'}}</h2>

      <mat-form-field appearance="outline" >
        <div class="mat-flex-field" >
          <mat-label>Digite o seu nome</mat-label>
          <input matInput type="text" autocomplete="off" formControlName="name" required role="name" autofocus />
        </div>
  
        <p class="mat-error color-warn" *ngIf="name && name.touched && name.errors && name.errors['required']" >Por favor, informe o seu nome</p>
        <p class="mat-error color-warn" *ngIf="name && name.touched && name.errors && !name.errors['required'] && name.errors['minlength']">Por favor, informe o seu nome</p>
        <p class="mat-error color-warn" *ngIf="name && name.touched && name.errors && !name.errors['required'] && name.errors['invalid_format']" >Isso não é um nome</p>
      </mat-form-field>

      <mat-form-field class="sign-text" >
        <div class="mat-flex-field" >
          <mat-label>Crie uma senha</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required role="password" />
          <button type="button" class="bt-icon"  (click)="hide = !hide" aria-label="Mostrar senha" >
            <span class="mat-icon icon-outlined inline" >{{ hide ? 'visibility_off' : 'visibility' }}</span>
          </button>
        </div>
  
        <p class="mat-error color-warn" *ngIf="password && password.touched && password.errors && password.errors['required']" >Crie uma senha</p>
        <p class="mat-error color-warn" *ngIf="password && password.touched && password.errors && password.errors['minlength']" >Utilize no mínimo 4 caracteres</p>
      </mat-form-field>

      <br/>

      <button type="submit" mat-button class="mat-flat-button primary" >
        Continuar
      </button>
    </form>
  </ng-template>

  <ng-template [ngIf]="action === 'signin'" >
    <form 
      *ngIf="recovery === false; else recoveryTemplate"
      class="sign-form box-shadow" 
      [formGroup]="signinForm" 
      (submit)="onSubmitSigninForm($event)"  >
      <p>
        Olá, {{signName}}!
      </p>
      <h2>Informe a sua senha</h2>

      <mat-form-field class="sign-text" >
        <div class="mat-flex-field" >
          <mat-label>Digite sua senha</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" 
            formControlName="password" required role="password" #siginPasswordInput />
          <button type="button" class="bt-icon"  (click)="hide = !hide" aria-label="Mostrar senha" >
            <span class="mat-icon icon-outlined inline" >{{ hide ? 'visibility_off' : 'visibility' }}</span>
          </button>
        </div>

        <p class="mat-error color-warn" *ngIf="signinPassword && signinPassword.touched && signinPassword.errors && signinPassword.errors['required']" >Informe sua senha para entrar</p>
        <p class="mat-error color-warn" *ngIf="signinPassword && signinPassword.touched && signinPassword.errors && !signinPassword.errors['required'] && signinPassword.errors['invalid']" >Senha incorreta</p>
      </mat-form-field>
      <div>
        <a class="form-anchor" (click)="recovery = true" >Esqueci a minha senha</a>
      </div>

      <br/>

      <button type="submit" mat-button class="mat-flat-button primary" >
        Entrar
      </button> <br/>

      <button type="button" mat-button class="mat-stroked-button primary" (click)="onClickRefresh()" >
        Voltar
      </button>
    </form>

    <ng-template #recoveryTemplate >
      <div class="sign-form box-shadow" >
        <h2 class="align-center" >Recuperação de conta</h2> <br/>
        <p class="align-justify" >
          Enviaremos um SMS contendo um código de recuperação para o número <strong class="term">{{signinUsername.value}}</strong>
        </p> <br/>
        
        <button type="button" mat-button class="mat-flat-button primary" (click)="onClickRecovery()" >
          Enviar SMS de recuperação
        </button> <br/>
        <button type="button" mat-button class="mat-stroked-button primary" (click)="onClickRefresh()" >
          Voltar
        </button>
      </div>
    </ng-template>
  </ng-template>

  <ng-template [ngIf]="action === 'temporary'" >
    <form class="sign-form box-shadow" [formGroup]="temporaryForm" (submit)="onSubmitTemporaryForm()"  >
      <h2>Indentificação do usuário</h2>
      <p>Para continuar, insira as informações</p>

      <mat-form-field appearance="outline" >
        <div class="mat-flex-field" >
          <mat-label>Digite o seu nome</mat-label>
          <input matInput type="text" autocomplete="off" formControlName="name" required role="name" autofocus />
        </div>
  
        <p class="mat-error color-warn" *ngIf="temporaryname && temporaryname.touched && temporaryname.errors && temporaryname.errors['required']" >Por favor, informe o seu nome</p>
        <p class="mat-error color-warn" *ngIf="temporaryname && temporaryname.touched && temporaryname.errors && !temporaryname.errors['required'] && temporaryname.errors['minlength']">Por favor, informe o seu nome</p>
        <p class="mat-error color-warn" *ngIf="temporaryname && temporaryname.touched && temporaryname.errors && !temporaryname.errors['required'] && temporaryname.errors['invalid_format']" >Isso não é um nome</p>
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <div class="mat-flex-field sign-field" >
          <span matPrefix class="spn-prefix" >&nbsp;+55</span>
          <mat-label class="sign-phone-label">Número do celular com DDD</mat-label>
          <input matInput mask="(99)99999-9999" type="text" 
            autocomplete="off" formControlName="phone" 
            required role="name" autofocus />
        </div>
  
        <p class="mat-error color-warn" *ngIf="temporaryphone && temporaryphone.touched && temporaryphone.errors && temporaryphone.errors['required']" >Por favor, informe o número do seu celular</p>
        <p class="mat-error color-warn" *ngIf="temporaryphone && temporaryphone.touched && temporaryphone.errors && !temporaryphone.errors['required'] && temporaryphone.errors['invalidPhone']" >Por favor, informe um número válido</p>
      </mat-form-field>

      <br/>

      <button type="submit" mat-button class="mat-flat-button primary" >
        Continuar
      </button>
    </form>
  </ng-template>
</div>

<div class="app-nav">
  <ul class="ul">
    <li></li>
    <li>
      <button (click)="onClickHome()" class="bt-icon">
        <span class="mat-icon">
          <img alt="Logotipo do Ta na mão" class="icon-button-logo" src="../../assets/icons/asset_2.png" width="32"
            height="32">
        </span>
        <label>Início</label>
      </button>
    </li>
    <li></li>
  </ul>
</div>